DATABASE_URL=

DIRECT_URL=


S3_SECRET_KEY=
S3_ACCESS_KEY=
S3_HOST=
S3_REGION=
S3_BUCKET=
TZ=
BULLMQ_REDIS_PORT=
BULLMQ_REDIS_HOST=
BULLMQ_REDIS_USERNAME=
BULLMQ_REDIS_PASSWORD=
WA_CLOUD_API_VERSION=
WA_CLOUD_PHONE_NUMBER_ID=
WA_CLOUD_TOKEN=
WA_APP_SECRET=

AUTH_SECRET=